# App
realcode/node_modules/
realcode/.next/
realcode/.env

# Terraform
terraform/.terraform/
terraform/terraform.tfstate*
terraform/*.tfvars
terraform.tfstate

# Logs
*.log

# OS
.DS_Store
Thumbs.db
